<form class="row form" [formGroup]="form">
  <span class="label">Email Address</span>
  <mat-form-field class="example-full-width" appearance="fill">
    <input
      type="email"
      matInput
      placeholder="'Enter your email address'"
      [formControlName]="loginControl.EMAIL"
    />
  </mat-form-field>

  <span class="label mt-2">Password</span>
  <mat-form-field class="example-full-width" appearance="fill">
    <input
      type="email"
      matInput
      placeholder="'Enter your email address'"
      [formControlName]="loginControl.PASSWORD"
    />
  </mat-form-field>

  <a mat-button color="primary" class="forgot-btn">Forgot you password?</a>

  <div class="login-button">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!valid"
      (click)="logIn()"
    >
      Log in
    </button>
  </div>
</form>
