<app-basic-login-layout [backgroundUrl]="loginBgUrl.login">
  <div class="wrap">
    <div class="content">
      <div class="img">
        <img src="./assets/img/waving-hand.svg" alt="" />
      </div>
      <h1 class="title">Welcome back</h1>
      <p class="sub-title">Sign in to manage your account.</p>
      <app-login-form (login)="onLogin($event)"></app-login-form>

      <div class="divider text-center">Or do it via other accounts</div>

      <div class="button-wrapper">
        <button class="google-btn" mat-stroked-button>
          <img
            src="./assets/img/google.svg"
            alt="'Login with google'"
            (click)="onGoogleLogin()"
          />
        </button>

        <button class="facebook-btn" mat-stroked-button>
          <img
            src="./assets/img/facebook.svg"
            alt="'Login with facebook'"
            (click)="onFacebookLogin()"
          />
        </button>
      </div>
      <div class="sing-up text-center">
        <span>Don’t have an account?</span>
        <a mat-button color="primary" [routerLink]="['/auth/sign-up']"
          >Sign up</a
        >
      </div>
    </div>
  </div>
</app-basic-login-layout>
